body{
    background-color: var(--dark);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    max-width: 1400px;
    margin-inline: auto;
    padding: 16px;
    justify-content: space-around;
    flex-wrap: wrap;
}